<?xml version="1.0" encoding="utf-8"?>
<scoreAnalyst caption="设置">
  <grades caption="年级">
    <grade caption="实验2011" id="0" name="实验" database="score2011" target="true" contain3th="false">
      <report caption="报表格式设置">
        <workbook caption="理科" id="0" title="高三年级九月调考理科-{0}分段统计表" template="template\学科分段统计表-理科.xls" report="学科分段统计表-理科.xls" subjectType="1">
          <sheet caption="语文" sheetName="语文" subject="语文" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="数学" sheetName="数学" subject="数学" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="英语" sheetName="英语" subject="英语" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="物理" sheetName="物理政治" subject="物理" totalScore="110" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="化学" sheetName="化学历史" subject="化学" totalScore="100" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="生物" sheetName="生物地理" subject="生物" totalScore="90" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="理综" sheetName="文综理综" subject="理综" totalScore="300" classStep="10" classCount="26" gradeStep="10" gradeCount="26" ignoreRate="true" />
          <sheet caption="总分" sheetName="总分" subject="总分" totalScore="750" classStep="10" classCount="26" gradeStep="10" gradeCount="26" ignoreRate="true"/>
        </workbook>
        <workbook caption="文科" id="1" title="高三年级九月调考理科-{0}分段统计表" template="template\学科分段统计表-文科.xls" report="学科分段统计表-文科.xls" subjectType="2">
          <sheet caption="语文" sheetName="语文" subject="语文" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="数学" sheetName="数学" subject="数学" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="英语" sheetName="英语" subject="英语" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="政治" sheetName="物理政治" subject="政治" totalScore="100" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="历史" sheetName="化学历史" subject="历史" totalScore="100" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="地理" sheetName="生物地理" subject="地理" totalScore="100" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="文综" sheetName="文综理综" subject="文综" totalScore="300" classStep="10" classCount="26" gradeStep="10" gradeCount="26" ignoreRate="true" />
          <sheet caption="总分" sheetName="总分" subject="总分" totalScore="750" classStep="10" classCount="26" gradeStep="10" gradeCount="26" ignoreRate="true"/>
        </workbook>
      </report>
      <database caption="数据库设置">
        <initialize caption="初始化设置" initializeType="1">
          <subjectGroup caption="理科" subjectType="1" subjectList="语文,数学,英语,物理,化学,生物,文综" totalScoreExpression="语文+数学+英语+物理+化学+生物+文综"/>
          <subjectGroup caption="文科" subjectType="2" subjectList="语文,数学,英语,政治,历史,地理,理综" totalScoreExpression="语文+数学+英语+政治+历史+地理+理综"/>
        </initialize>
        <schema caption="导入数据格式">
          <table caption="理科成绩" id="0" name="理科成绩" target="tmp_science_score" fields="考号,姓名,班级,语文,数学,英语,物理,化学,生物,理综"/>
          <table caption="文科成绩" id="1" name="文科成绩" target="tmp_arts_score" fields="考号,姓名,班级,语文,数学,英语,政治,历史,地理,文综"/>
          <table caption="任课教师一览表" id="2" name="任课教师一览表" target="teachers" fields="班级,班主任,语文,数学,英语,物理,化学,生物,政治,历史,地理"/>
          <table caption="班级信息(带考核目标)" id="3" name="班级信息(带考核目标)" target="class" fields="班级,类型,一本指标,二本指标,三本指标,班级类型"/>
          <table caption="不计考核学生名单" id="4" name="不计考核学生名单" target="ignore" fields="考号,姓名,班级"/>
          <table caption="年级考核目标" id="5" name="年级考核目标" target="target" fields="学科类型,指标类型,年级指标"/>
          <table caption="各学科分数线" id="6" name="各学科分数线" target="minimum_score" fields="id,学科类型,学科,指标类型,分数线"/>
        </schema>
      </database>
    </grade>
    <grade caption="2015级" id="1" name="2015级" database="score2015" target="true">
      <report caption="报表格式设置">
        <workbook caption="理科" id="0" title="2015-2016学年度高一年级下学期期中考试{0}分段统计表" template="template\学科分段统计表-理科.xls" report="学科分段统计表-理科.xls" subjectType="1">
          <sheet caption="语文" sheetName="语文" subject="语文" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="数学" sheetName="数学" subject="数学" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="英语" sheetName="英语" subject="英语" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="物理" sheetName="物理政治" subject="物理" totalScore="110" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="化学" sheetName="化学历史" subject="化学" totalScore="100" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="生物" sheetName="生物地理" subject="生物" totalScore="90" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="总分" sheetName="总分" subject="总分" totalScore="750" classStep="10" classCount="26" gradeStep="10" gradeCount="26" />
        </workbook>
        <workbook caption="文科" id="1" title="2015-2016学年度高一年级下学期期中考试{0}分段统计表" template="template\学科分段统计表-文科.xls" report="学科分段统计表-文科.xls" subjectType="2">
          <sheet caption="语文" sheetName="语文" subject="语文" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="数学" sheetName="数学" subject="数学" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="英语" sheetName="英语" subject="英语" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="政治" sheetName="物理政治" subject="政治" totalScore="100" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="历史" sheetName="化学历史" subject="历史" totalScore="100" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="地理" sheetName="生物地理" subject="地理" totalScore="100" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="总分" sheetName="总分" subject="总分" totalScore="750" classStep="10" classCount="26" gradeStep="10" gradeCount="26" />
        </workbook>
      </report>
      <database caption="数据库设置">
        <initialize caption="初始化设置" initializeType="1">
          <subjectGroup caption="理科" subjectType="1" subjectList="语文,数学,英语,物理,化学,生物" totalScoreExpression="语文+数学+英语+物理+化学+生物"/>
          <subjectGroup caption="文科" subjectType="2" subjectList="语文,数学,英语,政治,历史,地理" totalScoreExpression="语文+数学+英语+政治+历史+地理"/>
        </initialize>
        <schema caption="导入数据格式">
          <table caption="理科成绩" id="0" name="理科成绩" target="tmp_science_score" fields="考号,姓名,班级,语文,数学,英语,物理,化学,生物"/>
          <table caption="文科成绩" id="1" name="文科成绩" target="tmp_arts_score" fields="考号,姓名,班级,语文,数学,英语,政治,历史,地理"/>
          <table caption="任课教师一览表" id="2" name="任课教师一览表" target="teachers" fields="班级,班主任,语文,数学,英语,物理,化学,生物,政治,历史,地理"/>
          <table caption="班级信息(带考核目标)" id="3" name="班级信息(带考核目标)" target="class" fields="班级,类型,一本指标,二本指标,三本指标,班级类型"/>
          <table caption="不计考核学生名单" id="4" name="不计考核学生名单" target="ignore" fields="考号,姓名,班级"/>
          <table caption="年级考核目标" id="5" name="年级考核目标" target="target" fields="学科类型,指标类型,年级指标"/>
          <table caption="各学科分数线" id="6" name="各学科分数线" target="minimum_score" fields="id,学科类型,学科,指标类型,分数线"/>
        </schema>
      </database>
    </grade>
    <grade caption="2014级" id="2" name="2014级" database="score2014" target="true">
      <report caption="报表格式设置">
        <workbook caption="理科" id="0" title="2014级高三年级上学期九月调研考试{0}分段统计表" template="template\学科分段统计表-理科.xls" report="学科分段统计表-理科.xls" subjectType="1">
          <sheet caption="语文" sheetName="语文" subject="语文" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="数学" sheetName="数学" subject="数学" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="英语" sheetName="英语" subject="英语" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="物理" sheetName="物理政治" subject="物理" totalScore="110" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="化学" sheetName="化学历史" subject="化学" totalScore="100" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="生物" sheetName="生物地理" subject="生物" totalScore="90" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="总分" sheetName="总分" subject="总分" totalScore="750" classStep="10" classCount="26" gradeStep="10" gradeCount="26" />
        </workbook>
        <workbook caption="文科" id="1" title="2014级高三年级上学期九月调研考试{0}分段统计表" template="template\学科分段统计表-文科.xls" report="学科分段统计表-文科.xls" subjectType="2">
          <sheet caption="语文" sheetName="语文" subject="语文" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="数学" sheetName="数学" subject="数学" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="英语" sheetName="英语" subject="英语" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="政治" sheetName="物理政治" subject="政治" totalScore="100" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="历史" sheetName="化学历史" subject="历史" totalScore="100" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="地理" sheetName="生物地理" subject="地理" totalScore="100" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="总分" sheetName="总分" subject="总分" totalScore="750" classStep="10" classCount="26" gradeStep="10" gradeCount="26" />
        </workbook>
      </report>
      <database caption="数据库设置">
        <initialize caption="初始化设置" initializeType="1">
          <subjectGroup caption="理科" subjectType="1" subjectList="语文,数学,英语,物理,化学,生物" totalScoreExpression="语文+数学+英语+物理+化学+生物"/>
          <subjectGroup caption="文科" subjectType="2" subjectList="语文,数学,英语,政治,历史,地理" totalScoreExpression="语文+数学+英语+政治+历史+地理"/>
        </initialize>
        <schema caption="导入数据格式">
          <table caption="理科成绩" id="0" name="理科成绩" target="tmp_science_score" fields="考号,姓名,班级,语文,数学,英语,物理,化学,生物"/>
          <table caption="文科成绩" id="1" name="文科成绩" target="tmp_arts_score" fields="考号,姓名,班级,语文,数学,英语,政治,历史,地理"/>
          <table caption="任课教师一览表" id="2" name="任课教师一览表" target="teachers" fields="班级,班主任,语文,数学,英语,物理,化学,生物,政治,历史,地理"/>
          <table caption="班级信息(带考核目标)" id="3" name="班级信息(带考核目标)" target="class" fields="班级,类型,一本指标,二本指标,三本指标,班级类型"/>
          <table caption="不计考核学生名单" id="4" name="不计考核学生名单" target="ignore" fields="考号,姓名,班级"/>
          <table caption="年级考核目标" id="5" name="年级考核目标" target="target" fields="学科类型,指标类型,年级指标"/>
          <table caption="各学科分数线" id="6" name="各学科分数线" target="minimum_score" fields="id,学科类型,学科,指标类型,分数线"/>
        </schema>
      </database>
    </grade>
    <grade caption="2016级" id="3" name="2016级" database="score2012" target="true">
      <report caption="报表格式设置">
        <workbook caption="理科" id="0" title="2015届高三年级第三次统考{0}(理科)分段统计表(2015.3.16)" template="template\学科分段统计表-理科.xls" report="学科分段统计表-理科.xls" subjectType="1">
          <sheet caption="语文" sheetName="语文" subject="语文" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="数学" sheetName="数学" subject="数学" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="英语" sheetName="英语" subject="英语" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="物理" sheetName="物理政治" subject="物理" totalScore="110" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="化学" sheetName="化学历史" subject="化学" totalScore="100" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="生物" sheetName="生物地理" subject="生物" totalScore="90" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="理综" sheetName="文综理综" subject="理综" totalScore="300" classStep="5" classCount="12" gradeStep="10" gradeCount="26"  ignoreRate="false" />
          <sheet caption="总分" sheetName="总分" subject="总分" totalScore="750" classStep="10" classCount="26" gradeStep="10" gradeCount="26" />
        </workbook>
        <workbook caption="文科" id="1" title="2015届高三年级第三次统考{0}(文科)分段统计表(2015.3.16)" template="template\学科分段统计表-文科.xls" report="学科分段统计表-文科.xls" subjectType="2">
          <sheet caption="语文" sheetName="语文" subject="语文" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="数学" sheetName="数学" subject="数学" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="英语" sheetName="英语" subject="英语" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="政治" sheetName="物理政治" subject="政治" totalScore="100" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="历史" sheetName="化学历史" subject="历史" totalScore="100" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="地理" sheetName="生物地理" subject="地理" totalScore="100" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="文综" sheetName="文综理综" subject="文综" totalScore="300" classStep="5" classCount="12" gradeStep="10" gradeCount="26"  ignoreRate="false" />
          <sheet caption="总分" sheetName="总分" subject="总分" totalScore="750" classStep="10" classCount="26" gradeStep="10" gradeCount="26" />
        </workbook>
      </report>
      <database caption="数据库设置">
        <initialize caption="初始化设置" initializeType="1">
          <subjectGroup caption="理科" subjectType="1" subjectList="语文,数学,英语,物理,化学,生物,理综" totalScoreExpression="语文+数学+英语+物理+化学+生物"/>
          <subjectGroup caption="文科" subjectType="2" subjectList="语文,数学,英语,政治,历史,地理,文综" totalScoreExpression="语文+数学+英语+政治+历史+地理"/>
        </initialize>
        <schema caption="导入数据格式">
          <table caption="理科成绩" id="0" name="理科成绩" target="tmp_science_score" fields="考号,姓名,班级,语文,数学,英语,物理,化学,生物,理综"/>
          <table caption="文科成绩" id="1" name="文科成绩" target="tmp_arts_score" fields="考号,姓名,班级,语文,数学,英语,政治,历史,地理,文综"/>
          <table caption="任课教师一览表" id="2" name="任课教师一览表" target="teachers" fields="班级,班主任,语文,数学,英语,物理,化学,生物,政治,历史,地理"/>
          <table caption="班级信息(带考核目标)" id="3" name="班级信息(带考核目标)" target="class" fields="班级,类型,一本指标,二本指标,三本指标,班级类型"/>
          <table caption="不计考核学生名单" id="4" name="不计考核学生名单" target="ignore" fields="考号,姓名,班级"/>
          <table caption="年级考核目标" id="5" name="年级考核目标" target="target" fields="学科类型,指标类型,年级指标"/>
          <table caption="各学科分数线" id="6" name="各学科分数线" target="minimum_score" fields="id,学科类型,学科,指标类型,分数线"/>
        </schema>
      </database>
    </grade>
    <grade caption="高考成绩" id="4" name="高考成绩" database="score_gk" target="true">
      <report caption="报表格式设置">
        <workbook caption="理科" id="0" title="2014年高考理科-{0}分段统计表" template="template\学科分段统计表-理科.xls" report="学科分段统计表-理科.xls" subjectType="1">
          <sheet caption="语文" sheetName="语文" subject="语文" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="数学" sheetName="数学" subject="数学" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="英语" sheetName="英语" subject="英语" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="物理" sheetName="物理政治" subject="物理" totalScore="110" classStep="5" classCount="12" gradeStep="5" gradeCount="26" ignore="true"/>
          <sheet caption="化学" sheetName="化学历史" subject="化学" totalScore="100" classStep="5" classCount="12" gradeStep="5" gradeCount="26" ignore="true"/>
          <sheet caption="生物" sheetName="生物地理" subject="生物" totalScore="90" classStep="5" classCount="12" gradeStep="5" gradeCount="26" ignore="true"/>
          <sheet caption="理综" sheetName="文综理综" subject="理综" totalScore="300" classStep="10" classCount="26" gradeStep="10" gradeCount="26" ignoreRate="true" />
          <sheet caption="总分" sheetName="总分" subject="总分" totalScore="750" classStep="10" classCount="26" gradeStep="10" gradeCount="26" ignoreRate="true"/>
        </workbook>
        <workbook caption="文科" id="1" title="2014年高考文科-{0}分段统计表" template="template\学科分段统计表-文科.xls" report="学科分段统计表-文科.xls" subjectType="2">
          <sheet caption="语文" sheetName="语文" subject="语文" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="数学" sheetName="数学" subject="数学" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="英语" sheetName="英语" subject="英语" totalScore="150" classStep="5" classCount="12" gradeStep="5" gradeCount="26"/>
          <sheet caption="政治" sheetName="物理政治" subject="政治" totalScore="100" classStep="5" classCount="12" gradeStep="5" gradeCount="26" ignore="true"/>
          <sheet caption="历史" sheetName="化学历史" subject="历史" totalScore="100" classStep="5" classCount="12" gradeStep="5" gradeCount="26" ignore="true"/>
          <sheet caption="地理" sheetName="生物地理" subject="地理" totalScore="100" classStep="5" classCount="12" gradeStep="5" gradeCount="26" ignore="true"/>
          <sheet caption="文综" sheetName="文综理综" subject="文综" totalScore="300" classStep="10" classCount="26" gradeStep="10" gradeCount="26" ignoreRate="true" />
          <sheet caption="总分" sheetName="总分" subject="总分" totalScore="750" classStep="10" classCount="26" gradeStep="10" gradeCount="26" ignoreRate="true"/>
        </workbook>
      </report>
      <database caption="数据库设置">
        <initialize caption="初始化设置" initializeType="1">
          <subjectGroup caption="理科" subjectType="1" subjectList="语文,数学,英语,理综" totalScoreExpression="语文+数学+英语+理综"/>
          <subjectGroup caption="文科" subjectType="2" subjectList="语文,数学,英语,文综" totalScoreExpression="语文+数学+英语+文综"/>
        </initialize>
        <schema caption="导入数据格式">
          <table caption="理科成绩" id="0" name="理科成绩" target="tmp_science_score" fields="考号,姓名,班级,语文,数学,英语,理综"/>
          <table caption="文科成绩" id="1" name="文科成绩" target="tmp_arts_score" fields="考号,姓名,班级,语文,数学,英语,文综"/>
          <table caption="任课教师一览表" id="2" name="任课教师一览表" target="teachers" fields="班级,班主任,语文,数学,英语,物理,化学,生物,政治,历史,地理"/>
          <table caption="班级信息(带考核目标)" id="3" name="班级信息(带考核目标)" target="class" fields="班级,类型,一本指标,二本指标,三本指标,班级类型"/>
          <table caption="不计考核学生名单" id="4" name="不计考核学生名单" target="ignore" fields="考号,姓名,班级"/>
          <table caption="年级考核目标" id="5" name="年级考核目标" target="target" fields="学科类型,指标类型,年级指标"/>
          <table caption="各学科分数线" id="6" name="各学科分数线" target="minimum_score" fields="id,学科类型,学科,指标类型,分数线"/>
        </schema>
      </database>
    </grade>
  </grades>
  <product caption="产品信息" productName="成绩分析系统" company="湖北省孝感高级中学" author="刘保恩" version="2.0.0.11"/>
  <default caption="默认设置" gradeId="3" database="postgres" excel="excel8"/>
  <connections caption="连接选项">
    <connection caption="postgres" type="postgres" connectionString="Server=localhost; Port=5432; Userid=postgres; password=2054299;  Encoding=uft8;database={0}"/>
    <connection caption="sqlite3" type="sqlite3" connectionString="Data Source=..\\database\\{0}.db3;Version=3;Page Size=4096;"/>
    <connection caption="sqlserver" type="sqlserver" connectionString="Data Source=PC-20121011ELXG;Initial Catalog={0};Integrated Security=True"/>
    <connection caption="excel8" type="excel8" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES;IMEX=1;'"/>
    <connection caption="excel10" type="excel10" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 10.0;HDR=YES;IMEX=1;'"/>
  </connections>
</scoreAnalyst>
